.para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0f5738;
}
div {
  margin: 0;
  padding: 0;
}
.head {
  font-size: 96px;
  font-weight: bold;
  font-family: "Sedgwick Ave Display", cursive;
  background-image: linear-gradient(90deg, rgb(6, 136, 131), rgb(236, 17, 236));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Change the number to adjust the number of columns */
  gap: 25px;
  justify-items: center;
}
.btn-4 {
  margin: 0;
  padding: 0;
  padding: 1.1em 1.5em;
  border: 2px solid #000;
  border-color: #2455b0;
  border-radius: 6px;
  font-size: 20px;
  transition-duration: 0.1s;
  box-shadow: 2px 2px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  color: rgb(62, 87, 169);
}

.btn-4:hover {
  cursor: pointer;
  transform: translate(3px, 3px);
  box-shadow: none;
}
.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
}
img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Lilita One", cursive;
  background-image: linear-gradient(90deg, rgb(6, 136, 131), rgb(236, 17, 236));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.member-role {
  font-style: normal;
  font-size: 18px;
}
.btn-3 {
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: bisque;
}
